<!DOCTYPE html>
<html lang="<%=leng.lang%>" dir="<%=leng.dir%>">

<head>
  <meta charset="utf-8">
  <title>Customer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/<%=leng.css%>.css">
</head>

<body dir="<%=leng.dir%>">
  <!-- ///////////////////// NAVBAR ///////////////////// -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand needFlip" href="#"><%=currentUser%></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav <%=leng.manuClass%>">
          <li class="nav-item">
            <form method="post" class="form-inline my-2 my-lg-0">
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                🌎
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="submit" formaction="/userSetting/languge/eng">English</button>
                <button class="dropdown-item"  type="submit" formaction="/userSetting/languge/heb">עברית</button>
              </div>
            </div>
              </form>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/list"><%=leng.heading.list%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newcustomer"><%=leng.heading.new%></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout"><%=leng.heading.logOut%></a>
          </li>

        </ul>

        <form method="post" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="<%=leng.heading.searchCustomer%>" aria-label="Search" name="search">
          <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=leng.heading.searchBy%>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="submit" formaction="/list/search/phoneNumber"><%=leng.heading.phoneNumber%></button>
              <button class="dropdown-item" type="submit" formaction="/list/search/firstName"><%=leng.heading.firstName%></button>
              <button class="dropdown-item" type="submit" formaction="/list/search/lastName"><%=leng.heading.lastName%></button>
              <button class="dropdown-item" type="submit" formaction="/list/search/email"><%=leng.heading.email%></button>
            </div>
          </div>
          </form>
      </div>
    </nav>
  </div>
