<%- include('partials/header') %>


  <!-- ////////////////////// Customer card///////////////////////// -->
  <section class="info container">
    <div class="Headings box">
      <h3><%=leng.customer.customerName%>: <%=customer.firstName%> <%=customer.lastName%></h3><br>
      <h4><%=leng.customer.customerID%>:</h4> <span><%=customer._id%></span>
    </div>


    <div class="row ">
      <div class="col-12 col-md-4 box">
        <h4><%=leng.customer.phoneNumber%>:</h4>
        <h6><%=customer.phoneNumber%></h6>
      </div>
      <div class="col-12 col-md-8 box">
        <h4><%=leng.customer.birthDay%>:</h4>
        <h6><%=customer.birthDay%></h6>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 box">
        <h4><%=leng.customer.email%>:</h4>
        <h6><%=customer.email%></>
      </div>
      <div class="col-12 box">
        <h4><%=leng.customer.remark%>:</h4>
        <p class="remarks"><%=customer.remark%></p>
      </div>
      <a class="btn btn-dark btn-sm edit-btn editCus-btn " href="/editCustomer/<%=customer._id%>"><%=leng.titles.editCard%></a>
    </div>
<!-- <a href="https://photos.app.goo.gl/AbeFqcj2zaNA5ixA8">link</a> -->

<hr>

  </section>


  <!-- ///////////////////////////////// Meatings ////////////////////// -->

  <section class="meetings border border-info container">

<form  action="/newmeeting/<%=customer._id%>" method="post">
  <button type="submit" value="<%=customer._id%>"  class="btn btn-outline-success btn-lg btn-block add-new-btn"> <%=leng.titles.addNewMeeting%> </button>
</form>

  <% meetings.forEach(function(note){ %>
<form class="" action="/editmeeting/<%=note._id%>" method="post">

  <div class="row ">
    <div class="col-12 col-md-5 divPad">
      <h4> <%=leng.titles.meetingSubject%>:</h4>
      <h6> <%=note.title%> </h6>
      </div>
      <div class="col-12 col-md-7">
        <h4><%=leng.titles.meetingDate%>: </h4>
        <span> <%=note.date%> </span>
      </div>
      <p class="remarks" rows="3"><%=note.content%></p>
      <!-- <a class="btn btn-light" target="_blank" href="https://drive.google.com/open?id=0B-9eGBed95f8bXNZS2gtTHloNk0">Click me</a> -->
<div class="listLinks">
<% note.links.forEach(function(link){ %>
  <a class="btn btn-primary" href="<%=link.linkLink%>" target="_blank"><%=link.linkName%></a>
<% }); %>
</div>

      <a  class="btn btn-dark btn-sm meeting-btn edit-btn" href="/customer/<%=customer._id%>/editmeeting/<%=note.mettingId%>"><%=leng.titles.editmeeting%></a>
    <!-- <button type="submit"  class="btn btn-dark btn-sm meeting-btn">Edit Meeting</button> -->
  </div>
<!-- </form> -->
</form>
<hr>
<% }); %>

  </section>

<%- include('partials/footer') %>
