<%- include('partials/header') %>

  <!-- ////////////////////// Customer card///////////////////////// -->

  <section class="info container">
    <div class="Headings">
      <h3>Customers:</h3><br>
      <!-- <h4>Customer:</h4> <span>#Customer Name Here</span> -->
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Phone</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% customer.forEach(function(cus){ %>
          <th scope="row"><%=cus.phoneNumber%> </th>
          <td><%=cus.firstName%> </td>
          <td><%=cus.lastName%> </td>
          <td><%=cus.email%> </td>
          <td><a href="/customer/<%=cus._id%>">Go</a> </td>
        </tr>
        <%})%>
      </tbody>
    </table>


    <hr>
  </section>

  <%- include('partials/footer') %>
