<%- include('partials/header') %>
  <!-- ////////////////////// Customer card///////////////////////// -->
  <section class="info container">
    <div class="Headings">
      <h3><%=leng.titles.addNewCustomer%></h3><br>
      <!-- <h4>Customer ID:</h4> <span>#IDNUMBERHERE</span> -->
    </div>


    <form action="/newcustomer" method="POST">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="firstNameInput"><%=leng.customer.firstName%></label>
          <input type="text" class="form-control "  id="firstNameInput" placeholder="First name" value="" name="firstNameInput" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="lastNameInput"><%=leng.customer.lastName%></label>
          <input type="text" class="form-control" id="lastNameInput" placeholder="Last name" value="" name="lastNameInput" required>

        </div>
        <div class="col-md-4 mb-3">
          <label for="phoneNumberInput"><%=leng.customer.phoneNumber%></label>
          <input type="number" class="form-control " id="phoneNumberInput" placeholder="Phone Number" name="phoneNumberInput" required>

        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="emailInput"><%=leng.customer.email%></label>
          <input type="email" class="form-control " id="emailInput" placeholder="Email" name="emailInput" required>

        </div>
        <div class="col-md-3 mb-3">
          <label for="birthDayInput"><%=leng.customer.birthDay%></label>
          <input type="date" class="form-control " id="birthDayInput" placeholder="Date" name="birthDayInput" required>

        </div>
        <!-- <div class="col-md-3 mb-3">
      <label for="validationServer05">Zip</label>
      <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div> -->
      </div>

      <div class="form-group">
        <label for="remarksTextInput"><%=leng.customer.remark%></label>
        <textarea class="form-control" id="remarksTextInput" rows="3" name="remarksTextInput"></textarea>
      </div>
      <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div> -->
      <button class="btn btn-primary" type="submit"><%=leng.titles.save%></button>
    </form>
    <hr>
  </section>


<%- include('partials/footer') %>
